:root {
  font-family: "Poppins", sans-serif;
  --bg-1 : #1A1C22;
  --bg-2 : #2E2828;
  --actions-1 : #3d3a50;
  --actions-2 : #503a3a;
  --details-a-1 : #580EF6;
  --details-a-2 : #F65151;
  --details-bg-1 : #F7F7F7;
  --details-bg-2 : #FEF4F4;
}

/* General Formatting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-1);
}

ul{
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Class */
.ms_gap-4{
  gap: 12px;
}

/* Display Flex Formatting */
.ms_d-flex{
  display: flex;
}

.ms_align-items-center{
  align-items: center;
}

.ms_justify-content-center{
  justify-content: center;
}

.ms_j-s-a{
  justify-content: space-around;
}

/* Padding */
.ms_p-2 {
  padding: 8px;
}

/* Margin */
.ms_mt-1{
  margin-top : 24px;
}

.ms_ml-1{
  margin-left: 8px;
}

.ms_my-1{
  margin: 12px;
}

/* Color Formatting */
.ms_color-w{
  color: white;
}

.ms_bg-d{
  background-color: var(--details-a-1);
}

/* Text Formatting */
.ms_txt-cnt{
  text-align: center;
}

/* Checklist */
.ms_done{
  font-style: italic;
  text-decoration: line-through;
}

/* Navbar */
.ms_navbar{
  min-height: 70px;
  background-color: var(--details-a-1);
  color: white;
  font-weight: 600;
}

/* Demo-section */
.demo-section{
  width: 85%;
  border-radius: 12px;
  margin: 32px auto;
  padding: 20px;
  background-color: var(--details-bg-1);
}

.ms_congratulations{
  background-color: var(--details-a-1);
  padding: 8px;
  color: white;
  border-radius: 12px;
}

.ms_register{
  background-color: var(--bg-1);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.7s;
}

p.ms_register:hover{
  background-color: var(--details-bg-1);
  color: black;
  transition: 0.7s;
}
/* Demo-section Landing Page */

.reglog-container{
  width: 80%;
  margin: 24px auto;
  background-color: var(--details-bg-1);
  border-radius: 12px;
}

.reglog{
  padding: 24px;
}

.reglog-header {
  text-align: center;
  margin-bottom: 24px;
}

/* Login Card Form */
.reglog-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.reglog-form .form-item {
  position: relative;
}

.reglog-form .form-item .form-item-icon {
  position: absolute;
  top: .82rem;
  left: 1.4rem;
  font-size: 1.1rem;
  opacity: .2;
}

.reglog-form .checkbox {
  display: flex;
  align-items: center;
  gap: 7px;
}

.reglog-form .form-item-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(1rem * .8);
  margin-bottom: .5rem;
}

/* Login Card Form Elements */
.reglog input[type="text"],
.reglog input[type="password"],
.reglog input[type="email"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    border-radius: 100px;
    width: 100%;
    transition: background .7s;
    transition: 0.7s;
}

.reglog input:focus {
    background: var(--bg-1);
    transition: 0.7s;
    color: white;
}

.reglog input:focus::placeholder{
    color: transparent;
    transition: all 0.7s;
}

.reglog input[type="checkbox"] {
    width: 100%;
    height: 24px;
    accent-color: black;
}

.reglog button {
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.reglog button:hover {
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

