:root {
  font-family: "Poppins", sans-serif;
  --bg-1 : #1A1C22;
  --bg-2 : #2E2828;
  --actions-1 : #3d3a50;
  --actions-2 : #503a3a;
  --details-a-1 : #580EF6;
  --details-a-2 : #F65151;
  --details-bg-1 : #F7F7F7;
  --details-bg-2 : #FEF4F4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Class */
.ms_gap-4{
  gap: 12px;
}

.ms_d-flex{
  display: flex;
}

.ms_p-2 {
  padding: 8px;
}

.ms_mt-1{
  margin-top : 24px;
}

.ms_align-items-center{
  align-items: center;
}

.ms_justify-content-center{
  justify-content: center;
}

.ms_color-w{
  color: white;
}

.ms_txt-cnt{
  text-align: center;
}

/* Navbar */
.ms_navbar{
  min-height: 70px;
  background-color: var(--actions-2);
  color: white;
}

.demo-section{
  width: 85%;
  margin: 32px auto;
  padding: 20px;
  background-color: var(--details-bg-2);
}

/* Body */
body {
  background-color: var(--bg-2);
}

ul{
  list-style-type: none;
}